@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
}